<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xj.guanquan">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 高德定位权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />

    <application
        android:name="common.eric.com.ebaselibrary.common.EBaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="51e165b40e9be4dd078f2b5672cb39a5" />

        <!-- 设置环信应用的appkey -->
        <meta-data
            android:name="EASEMOB_APPKEY"
            android:value="bacifang#guiquan" />
        <!-- 声明sdk所需的service SDK核心功能-->
        <service android:name="com.easemob.chat.EMChatService" />

        <service
            android:name=".common.LocationService"
            android:exported="true" />

        <activity
            android:name=".activity.home.QStartActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.home.QHomeActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".activity.user.QLoginActivity"
            android:windowSoftInputMode="adjustResize|adjustUnspecified|stateHidden" />
        <activity
            android:name=".activity.user.QFindPwdActivity"
            android:label="@string/title_activity_qfind_pwd" />
        <activity
            android:name=".activity.user.QRegistInfoActivity"
            android:label="@string/title_activity_qregist_info" />
        <activity
            android:name=".activity.home.QScreenActivity"
            android:label="@string/title_activity_qscreen" />
        <activity
            android:name=".activity.found.QUserDetailActivity"
            android:label="@string/title_activity_quser_detail" />
        <activity
            android:name=".activity.found.QCircleDetailActivity"
            android:label="@string/title_activity_quser_detail" />
        <activity
            android:name=".activity.found.QCircleMemberActivity"
            android:label="@string/title_activity_qcircle_member" />
        <activity
            android:name=".activity.user.QSystemSetActivity"
            android:label="@string/title_activity_qsystem_set" />
        <activity
            android:name=".activity.message.QMsgSetActivity"
            android:label="@string/title_activity_qmsg_set" />
        <activity
            android:name=".activity.user.QPwdSetActivity"
            android:label="@string/title_activity_qpwd_set" />
        <activity
            android:name=".activity.user.QInvisibleSetActivity"
            android:label="@string/title_activity_qinvisible_set" />
        <activity
            android:name=".activity.user.QBlackListActivity"
            android:label="@string/title_activity_qblack_list" />
        <activity
            android:name=".activity.user.QVisitorListActivity"
            android:label="@string/title_activity_qvisitor_list" />
        <activity
            android:name=".activity.user.QFeedbackActivity"
            android:label="@string/title_activity_qfeedback" />
        <activity
            android:name=".activity.roast.QPublishAct"
            android:label="@string/title_activity_publish"
            android:windowSoftInputMode="adjustResize|adjustUnspecified|stateHidden" />
        <activity
            android:name=".activity.roast.TucaoDetailAct"
            android:label="@string/hello_roast_detail"
            android:windowSoftInputMode="adjustResize|adjustUnspecified|stateHidden" />

        <activity
            android:name=".activity.message.QMsgDetailActivity"
            android:label="@string/title_activity_qmsg_detail"
            android:windowSoftInputMode="adjustResize|adjustUnspecified|stateHidden" />
        <activity
            android:name=".activity.contact.QAddFriendActivity"
            android:label="@string/title_activity_qadd_friend" />
        <activity
            android:name=".activity.contact.QAddGroupActivity"
            android:label="@string/title_activity_qadd_friend" />
        <activity
            android:name=".activity.contact.QCreateGroupActivity"
            android:label="@string/title_activity_qcreate_group" />
        <activity
            android:name=".activity.contact.QCreateGroupTwoActivity"
            android:label="@string/title_activity_qcreate_group" />
        <activity
            android:name=".activity.contact.QCreateGroupThreeActivity"
            android:label="@string/title_activity_qcreate_group" />
        <activity
            android:name=".activity.found.QCirclePhotosActivity"
            android:label="@string/title_activity_qcircle_photos"></activity>
    </application>

</manifest>
