<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xj.guanquan" >

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <!-- <uses-permission android:name="android.permission.READ_CONTACTS" /> -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 高德定位权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />

    <!-- mob 短信平台 -->
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- 个推SDK权限配置开始 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="getui.permission.GetuiService.com.xj.guanquan" />

    <permission
        android:name="getui.permission.GetuiService.com.xj.guanquan"
        android:protectionLevel="normal" >
    </permission>

    <!-- 个推SDK权限配置结束 -->
    <application
        android:name=".common.QBaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="51e165b40e9be4dd078f2b5672cb39a5" />

        <!-- 设置环信应用的appkey -->
        <meta-data
            android:name="EASEMOB_APPKEY"
            android:value="bacifang#guiquan" />
        <!-- 声明sdk所需的service SDK核心功能 -->
        <service android:name="com.easemob.chat.EMChatService" />
        <service
            android:name=".common.LocationService"
            android:exported="true" />
        <!-- mob短信平台 -->
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".activity.home.QStartActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.home.QHomeActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".activity.user.QLoginActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.user.QFindPwdActivity"
            android:label="@string/title_activity_qfind_pwd"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.user.QRegistInfoActivity"
            android:label="@string/title_activity_qregist_info"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.home.QScreenActivity"
            android:label="@string/title_activity_qscreen" />
        <activity
            android:name=".activity.found.QUserDetailActivity"
            android:label="@string/title_activity_quser_detail" />
        <activity
            android:name=".activity.found.QCircleDetailActivity"
            android:label="@string/title_activity_quser_detail" />
        <activity
            android:name=".activity.found.QCircleMemberActivity"
            android:label="@string/title_activity_qcircle_member" />
        <activity
            android:name=".activity.user.QSystemSetActivity"
            android:label="@string/title_activity_qsystem_set" />
        <activity
            android:name=".activity.message.QMsgSetActivity"
            android:label="@string/title_activity_qmsg_set" />
        <activity
            android:name=".activity.user.QPwdSetActivity"
            android:label="@string/title_activity_qpwd_set" />
        <activity
            android:name=".activity.user.QInvisibleSetActivity"
            android:label="@string/title_activity_qinvisible_set" />
        <activity
            android:name=".activity.user.QBlackListActivity"
            android:label="@string/title_activity_qblack_list" />
        <activity
            android:name=".activity.user.QVisitorListActivity"
            android:label="@string/title_activity_qvisitor_list" />
        <activity
            android:name=".activity.user.QFeedbackActivity"
            android:label="@string/title_activity_qfeedback" />
        <activity
            android:name=".activity.roast.QPublishAct"
            android:label="@string/title_activity_publish"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustUnspecified|stateHidden" />
        <activity
            android:name=".activity.roast.TucaoDetailAct"
            android:label="@string/hello_roast_detail"
            android:windowSoftInputMode="adjustResize|adjustUnspecified|stateHidden" />
        <activity
            android:name=".activity.roast.ViewPagerExampleActivity"
            android:label="@string/hello_roast_detail"
            android:windowSoftInputMode="adjustResize|adjustUnspecified|stateHidden" />
        <activity
            android:name=".activity.message.QMsgDetailActivity"
            android:label="@string/title_activity_qmsg_detail"
            android:windowSoftInputMode="adjustResize|adjustUnspecified|stateHidden" />
        <activity
            android:name=".activity.contact.QAddFriendActivity"
            android:label="@string/title_activity_qadd_friend" />
        <activity
            android:name=".activity.contact.QAddGroupActivity"
            android:label="@string/title_activity_qadd_friend" />
        <activity
            android:name=".activity.contact.QCreateGroupActivity"
            android:label="@string/title_activity_qcreate_group" />
        <activity
            android:name=".activity.contact.QCreateGroupTwoActivity"
            android:label="@string/title_activity_qcreate_group" />
        <activity
            android:name=".activity.contact.QCreateGroupThreeActivity"
            android:label="@string/title_activity_qcreate_group" />
        <activity
            android:name=".activity.found.QCirclePhotosActivity"
            android:label="@string/title_activity_qcircle_photos" />
        <activity
            android:name=".common.QShowBigImage"
            android:label="@string/attach_picture" />
        <activity
            android:name=".activity.roast.SelectPicActivity"
            android:screenOrientation="portrait"
            android:theme="@style/DialogStyleBottom" />
        <activity
            android:name=".activity.user.QRegistIndustryActivity"
            android:label="@string/title_activity_qregist_industry" />
        <activity
            android:name=".activity.user.QRegistCertifyActivity"
            android:label="@string/title_activity_qregist_certify" />
        <activity
            android:name=".activity.user.QRegistActivity"
            android:label="@string/title_activity_qregist" />
        <activity
            android:name=".activity.user.QRegistCarActivity"
            android:label="@string/title_activity_qregist_car" />

        <!-- 个推SDK配置开始 -->
        <!-- 配置的第三方参数属性 -->
        <meta-data
            android:name="PUSH_APPID"
            android:value="3OKv0XohLrAEs2ArumjLe9" /> <!-- 替换为第三方应用的APPID -->
        <meta-data
            android:name="PUSH_APPKEY"
            android:value="WNfBHpPYcz7NdSVP6bWN43" /> <!-- 替换为第三方应用的APPKEY -->
        <meta-data
            android:name="PUSH_APPSECRET"
            android:value="yZUzFH5pPv82JGvQj7oImA" /> <!-- 替换为第三方应用的APPSECRET -->
        <!-- 配置第三方Receiver -->
        <receiver
            android:name=".common.PushDemoReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.igexin.sdk.action.3OKv0XohLrAEs2ArumjLe9" />
            </intent-filter>
        </receiver>
        <!-- 配置SDK核心服务 -->
        <service
            android:name="com.igexin.sdk.PushService"
            android:exported="true"
            android:label="NotificationCenter"
            android:process=":pushservice" >
        </service>
        <service
            android:name="com.igexin.sdk.PushServiceUser"
            android:exported="true"
            android:label="NotificationCenterUser" >
        </service>

        <receiver android:name="com.igexin.sdk.PushReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="com.igexin.sdk.action.refreshls" />
                <!-- 以下三项为可选的action声明，可大大提高service存活率和消息到达速度 -->
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.igexin.sdk.PushManagerReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.igexin.sdk.action.pushmanager" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.igexin.sdk.PushActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:process=":pushservice"
            android:taskAffinity="com.igexin.sdk.PushActivityTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>

        <service
            android:name="com.igexin.download.DownloadService"
            android:process=":pushservice" />

        <receiver android:name="com.igexin.download.DownloadReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <provider
            android:name="com.igexin.download.DownloadProvider"
            android:authorities="downloads.com.xj.guanquan"
            android:exported="true"
            android:process=":pushservice" />

        <activity
            android:name="com.igexin.getuiext.activity.GetuiExtActivity"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:excludeFromRecents="true"
            android:exported="false"
            android:process=":pushservice"
            android:taskAffinity="android.task.myServicetask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <receiver
            android:name="com.igexin.getuiext.service.PayloadReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.igexin.sdk.action.7fjUl2Z3LH6xYy7NQK4ni4" />
                <action android:name="com.igexin.sdk.action.3OKv0XohLrAEs2ArumjLe9" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.igexin.getuiext.service.GetuiExtService"
            android:process=":pushservice" />

        <!-- 个推SDK配置结束 -->
        <activity
            android:name=".activity.contact.QMapSelectActivity"
            android:label="@string/title_activity_qmap_select" >
        </activity>

        <receiver
            android:name=".common.AppInstallReceiver"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activity.user.QSelfModifyActivity"
            android:label="@string/title_activity_qself_modify" >
        </activity>
    </application>

</manifest>
